@import "./vars.css";

.App {
  background-color: var(--color-bg);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.banner {
  margin-top: 70px;



}

.bannerImg {
  width: 100%;
  height: auto;
  display: block;
}